:root {
    ---font-main: rgba(197, 35, 202);
}

body {
    background-color: grey;
}

header {
    text-align: center;
    margin: 50px auto;
    padding-bottom: 50px;
}

header h1 {
    color: var(---font-main);
    font-size: calc(3.5vw + 1rem);
}

header p {
    font-size: calc(1vw + 15px);
    padding: 2% 12% 0;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 25%;
    margin: 2rem;
    padding: 1rem 2rem;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px dashed rgba(240, 224, 224, 0.733);
}

.row1 {
    height: 200px;
}

.row2 {
    height: 300px;
}

pre {
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.5) 20%,
        rgba(232, 102, 236, 0.8) 80%
    );
    border-radius: 7%;
    padding: 3px
}

footer {
    text-align: center;
    font-size: 36px;
    color: var(---font-main);
}

footer span {
    color: black;
}