body {
    background-color: grey;
}

header {
    text-align: center;
    margin: 50px auto;
    padding-bottom: 50px;
}

header h1 {
    color: rgba(197, 35, 202);
    font-size: calc(3.5vw + 1rem);
}

header p {
    font-size: calc(1vw + 15px);
    padding: 2% 12% 0;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 25%;
    margin: 2rem;
    padding: 1rem 2rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px dashed rgba(240, 224, 224, 0.733);
    border-radius: 15%;
}
